<div class="contextual-menu">
  <%= link_to refinery.new_authentication_devise_admin_user_path, class: "btn btn-primary" do %>
    <i class="icon icon-add"></i> <span class="hidden-xs-down"><strong><%= t('.create_new_user') %></strong></span>
  <% end %>
</div>
